{% extends 'layout.html' %}
{% block content %} 
    <h1>Tasks</h1>
    {% if tasks %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{task.title}}</td>
                        <td>{{task.desc}}</td>
                        <td>Incomplete</td>
                        <td><a class="btn btn-warning btn-sm" href="{% url 'edit_task' pk=task.id %}">Edit</a> <a class="btn btn-danger btn-sm" href="{% url 'delete_book' pk=task.id %}">Delete</a> <a class="btn btn-danger btn-sm" href="{% url 'delete_book' pk=task.id %}">Complete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No Data Found</h1>
    {% endif %}
{% endblock %}